/node_modules
/package-lock.json
/package.json
/public/index.php
/public/.htaccess
/public/hot
/public/plugins
/public/adminer.php
/public/adminer.sql
/public/adminer.gz
/public/adminer-plugin.php
/public/*.sql
/public/images/users/
/public/log.txt
/storage/*.key
/public/logs
/public/logs/*.log
/public/logs/*.key
/public/trip_file
/config/notification-push.php
/images
.env
.env.backup

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.htaccess
index.php
error_log
